@layer reset, init, design;

@import url(./normalize.css) layer(reset);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap") layer(init);

@layer init {
    :root {
        color-scheme: light dark;
        --header-bg-color: light-dark(#3B3E40, #3B3E40);
        --header-text-color: light-dark(#FFFFFF, #FFFFFF);
        --primary-color: light-dark(#66D4D4, #2B5A5A);
        --secondary-color: light-dark(#000000, #FFFFFF);
        --text-color: light-dark(#000000, #FFFFFF);
        --bg-color: light-dark(#FFFFFF, #000000)
    }

    html {
        font-family: "Open Sans", sans-serif;
        font-size: 100%; /*  default: 16px  */
        color: var(--text-color);
    }
}

@layer design {
    body {
        background-color: var(--bg-color);
    }

    h1 {
        font-size: 4rem; /* default: 60px */
        font-weight: extra-bold; /* 800 */
    }

    main {
        padding: 1rem;
        max-width: 960px;
        margin: 0 auto;
    }

    .header {
        background-image: url("../images/header-2560w.jpg");
        background-size: cover;
        background-position: top left;
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        line-height: 1.5;
        padding: 1rem;
    }

    .header__nav {
        text-align: center;
    }

    .header__link {
        display: inline-block;
        padding-top: 2em;
    }

    .header__intro {
        margin-top: 10vh;
        max-width: 772px;
        padding: 2rem;
    }
      
    .button {
        display: inline-block;
        border-radius: 0.5rem;
        padding: 0.75em 2em;
        text-decoration: none;
        font-weight: bold;
    }

    .button--primary {
        background-color: #66D4D4;
        color: #FFFFFF;
    }

    .button--light {
        background-color: #FFFFFF;
        color: #000000;
    }

    .img-fluid {
        display: block;
        width: 100%;
        height: auto;
    }

    .img-block {
        margin: 3rem 0 3rem 0;
    }

    .img-block__caption {
        text-align: center;
        margin-top: 1rem;
        font-size: 14px;
    }

    .info-block {
        margin: 1em 0;
        padding: 1.5rem;
        border: 3px solid var(--primary-color)
    }

    .info-block__title {
        margin-bottom: 1em;
    }

    .heading {
        font-family: "Open Sans", sans-serif; 
        font-weight: 700;
    }

    .heading--h3 {
        font-size: 1.125em;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-bottom: 3em;
        gap: 1rem;
        grid-auto-rows: auto auto 1fr auto;
    }

    .card a {
        justify-self: start;
    }

    .card {
        margin: 0;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: subgrid;
        grid-row-end: span 4;
    }

    .card__image {
        height: auto;
        width: 100%;
    }

    .gray-box {
        background-color: #3B3E40;
        text-align: center;
        padding: 3rem;
        margin-bottom: 5em;
    }

    .gray-box__title {
        font-size: 50px;
        color: #FFFFFF;
        font-weight: bold;
        margin: 0;
    }

    .gray-box__max {
        font-size: 100px;
    }

    .gray-box__desc {
        color: #FFFFFF;
    }

    .footer {
        background-color: #3B3E40;
        color: #FFFFFF;
        text-align: center;
        padding: 2em;
    }

    .main__title {
        align-self: stretch;
        font-size: 36px;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .rezimy {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .cards__title {
        font-size: 36px;
    }

    .gallery__title {
        font-size: 36px;
    }

    li::marker {
        color: var(--primary-color);
    }

    .gallery {
        margin: -1em;
        box-sizing: border-box;
    }

    .gallery__item {
        width: calc(50% - 2em);
        display: inline-block;
        vertical-align: top;
        margin: 1em;
    }

    .gallery__item--w100 {
        width: calc(100% - 2em);
    }
}